.navbar-default{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #303030;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	font-weight: 300;
	color: #eee;
}
/*.navbar-default .navbar-nav>li>{
	background-color:#303030; 
}*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{
	border:2px solid #eee;
	background-color: #303030;
	color: #eee;
}

.navbar-default .navbar-nav>li>a{
	border: 2px solid #303030; 
	color: #eee;
}
.jumbotron{
	text-align: center;
	padding-top: 140px;
	padding-bottom: 170px;
}
.jumbotron h1{
	font-size: 170px;
}

#work{
	padding-top: 100px;
	padding-bottom: 100px;
}
.panel{
	height: 350px;
	border-radius: 0;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;

}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}


#about{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #eee;
	color: #303030;
}
#about p{
	font-size: 50px;
	padding: 0 70px;
}

#contact{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #303030;
	color: #eee;

}
#contact ul{
	list-style-type: none;
}
#contact li>a{
	color:#eee;
	font-size: 24px;
	cursor: pointer;
}
#contact li>a:active,#contact li>a:hover, #contact li>a:focus{
	color:#eee;
}
footer{
	text-align: center;
	color:#eee;
	background-color: #303030;
}
footer p{
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
